[mysqld]
# Giảm kích thước bộ nhớ đệm InnoDB
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 1M

# Giảm số kết nối tối đa
max_connections = 50

# Giảm kích thước bộ nhớ đệm tạm thời
tmp_table_size = 16M
max_heap_table_size = 16M

# Tắt bộ nhớ đệm phân loại (nếu không cần thiết)
thread_cache_size = 0

# Thay thế innodb_log_file_size bằng innodb_redo_log_capacity cho MySQL 8.0
innodb_redo_log_capacity = 32M

# Giảm kích thước bộ nhớ đệm cho Join
join_buffer_size = 1M

# Giảm kích thước bộ nhớ đệm sort
sort_buffer_size = 1M

# Giảm kích thước bộ nhớ đệm đọc
read_buffer_size = 512K
read_rnd_buffer_size = 512K
